# Django stuff
*.log
*.pot
*.pyc
__pycache__/

# Database
*.sqlite3
*.db
*faiss_index
indices/

# Media and static files
media/
staticfiles/
dennis_uZpzeda.jpg
profile_photo.jpg

# Files for language testing
*.csv
*.zip

# Misc
*.sw*
*.txt
migrations_backup/
*recruiters.html
