{% extends "main.html" %}
{% load static %}

{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<div id="chat-container">
    <div>Chat ID: {{ chat_id }}</div>
    {% for message in base_messages %}
        {% if not forloop.first %}
            {% if message.role == "user" %}
                <div class="message-user">{{ request.user.username }}: {{ message.content }}</div>
                <div>Message: {{ message }}</div>
            {% else %}
                <div class="message-computer">Veronica: {{ message.content }}</div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    <input type="text" name="message" placeholder="Type your message here...">
    <button type="submit" value="Send" id="send-btn">Send</button>
</form>

<script>
    // Define global variables
    // TODO: double-check that this is an okay thing to do. Feels sloppy :/
    window.computerName = "Veronica";
    window.userName = "{{ request.user.username }}";
    window.role = "{{ message.role }}"
    window.sourceName = "chat";
</script>
<script src="{% static 'dynamic_refresh.js' %}"></script>
{% endblock %}