{% extends "main.html" %}
{% load static %}

{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<div id="chat-container">
    <!-- Not sure if this will be needed later. Leaving it for now. 2024-08-19 -->
    <!-- <div>Chat ID: {{ conversation.chat_id }}</div> -->

    <!-- Display messages -->
    <div id="messages">
        {% if not forloop.first %}
            {% for message in messages %}
                {% if not forloop.first %}
                    {% if message.user.username == username %}
                        <div class="message-user">
                            {{ message.user.username }}: {{ message.body }}
                            <span class="timestamp">{{ message.created|date:"Y-m-d H:i:s" }}</span>
                        </div>
                    {% else %}
                        <div class="message-computer">
                            Veronica: {{ message.body }}
                            <span class="timestamp">{{ message.created|date:"Y-m-d H:i:s" }}</span>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <!-- Message input form -->
    <form id="message-form" method="post" action="{% url 'chat-send-message' chat_id=conversation.chat_id %}">
        {% csrf_token %}
        <input type="text" name="message" id="message-input" rows="3" placeholder="Type your message here..."></>
        <button type="submit">Send</button>
    </form>
</div>

<script>
    // Define global variables
    // TODO: double-check that this is an okay thing to do. Feels sloppy :/
    window.computerName = "Veronica";
    window.userName = "{{ request.user.username }}";
    window.role = "{{ message.role }}"
    window.sourceName = "chat";
    window.chat_id = "{{ chat_id }}"
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'handle_chat_submit.js' %}"></script>
{% endblock %}