{% extends 'main.html' %}

{% block content %}
<div class="home-container">
    <p>Have you ever felt like the world is crashing down, leaving you wanting to scream into the Void? Here, the Void can finally scream back.</p>
    
    <p>This platform pushes the boundaries of AI. It uses a variety of models from OpenAI for conversations, and, more importantly, leverages retrieval-augmented generation (RAG). This means that anything you share here becomes part of your personal vector database, searchable and accessible for future interactions with the AI.</p>
    
    <p>We're building this vision of the future day by day, so <strong>everything is in flux and under construction</strong>. If you're interested in the more technical side of things, most of the code for the site is available at <a href="https://github.com/horseless-labs/void">this GitHub repo</a>!</p>      

    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'chat-manager' user_id=user.id %}">
        {% csrf_token %}

        <button type="submit">Go to the Office</button>
    </form>
    {% else %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <button type="submit">Login or Register</button>
    </form>
    {% endif %}
</div>
{% endblock %}