{% extends "main.html" %}
{% load static %}

{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>

<div id="upload-container">
    <h2>Upload Text File</h2>

    <!-- File upload form -->
    <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'upload-text-file' %}">
        {% csrf_token %}
        <input type="file" name="text_file" id="file-input" accept=".txt" />
        <button type="submit" id="upload-btn">Upload</button>
    </form>
</div>

{% endblock %}
